#app
  .logged
    h1(v-if='!keyed.length') Start smashing those keys
    Key(v-for='e in keyed', :value='e.key.trim() === "" ? e.code : e.key', :code='e.which', :event='e.type')
  .filters
    KeyFilter(v-for='(value, key) in typeFilters', :label='key', :active='value', :toggle='toggleFilter', type='type')
    KeyFilter(v-for='(value, key) in valueFilters', :label='key', :active='value', :toggle='toggleFilter', type='value')
  button(@click='clear') Clear