.key
  background-color black
  box-shadow 2px 2px 10px lighten(#000, 20%)
  color #fafafa
  display grid
  border-radius 5px
  height 100px
  width  100px
  grid-template-columns repeat(5, 1fr)

  &__code
    font-size 3rem
  &__value
    font-size 1rem
